.App {
  font-family: sans-serif;
  text-align: center;
  background-color: lightblue;
}

.kanjis {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2em;
  font-size: 1.4em;
  border: 3px solid darkblue;
  width: 70%;
  border-collapse: collapse;
}

.kanjisheader {
  border: 3px solid darkgoldenrod;
  background-color: yellow;
}

.kanjisdata {
  border: 1px solid darkblue;
}

.addKanji {
  background-color: palegoldenrod;
  padding: 1.5em;
  list-style: none;
  width: 50%;
  display: inline-block;
  text-align: left;
}

.addKanji li {
  color: blue;
  font-size: 1.2em;
  margin: 0.4em;
}

.addKanji button {
  color: darkblue;
  background-color: yellow;
  padding: 0.3em;
  font-size: 1.1em;
  font-weight: bold;
  border: 0px;
  margin-right: 1em;
  margin-top: 0.4em;
}

.mainHeading {
  color: yellow;
  font-weight: bold;
  font-size: 3.2em;
  font-family: papyrus fantasy;
  background-color: blue;
  padding: 0.3em;
}
