.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #eeffff;
}

.error {
  color: darkred;
  background-color: paleGoldenRod;
}

input {
  box-sizing: border-box;
  background-color: #ddeeee;
}
